<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="course">
    WhiteBoard
  </a>
  <input [(ngModel)]="newCourseTitle"
    type="text"
    class="form-control new-course-title"
    placeholder="Enter new course title"
  />
  <button (click)="createCourse(newCourseTitle)">
    Create
  </button>
</nav>


<div class="table-responsive">
  <table class="table table-hover">
    <caption>Click on course title to view editor.</caption>
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col" class="d-none d-md-table-cell">
        Options
      </th>
      <th scope="col">
        Quizzes
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>
          <a href="course/{{course._id}}">
            {{course.title}}
          </a>
        </td>
        <td>
          <button (click)="deleteCourse(course)">
            Delete
          </button>
        </td>
        <td>
          <a
             href="/courses/{{course._id}}/quizzes">
            Quizzes
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
